.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}

#java-show {
  display: none;
}

#op-show {
  display: none;
}

#var-show {
  display: none;
}
#var-name-show {
  display: none;
}
#func-show { 
  display: none;
}
#meth-show { 
  display: none;
}
#arg-show { 
  display: none;
}
#par-show { 
  display: none;
}
#return-show { 
  display: none;
}
#string-show { 
  display: none;
}
#boo-show {
  display: none;
}
#undef-show {
  display: none;
}
#nan-show {
  display: none;
}
#null-show {
  display: none;
}
#alert-show { 
  display: none;
}
#comments-show {
  display: none;
}
#jq-show {
  display: none;
}
#attr-show { 
  display: none;
}
#chain-meth-show {
  display: none;
}


body {
  background-color: rgba(168, 122, 211, 0.509);
  display: flex;
}

.header {
  min-height: 20vh;
  color: white;
  background-color: darkmagenta;
  padding: 1rem;
  margin: 1rem;
}

.header h1{
  font-size: 5rem;
}