.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}

#java-show {
  display: none;
}

#op-show {
  display: none;
}

body {
  background-color: rgba(196, 158, 231, 0.377);
}